@tailwind base;
@tailwind components;
@tailwind utilities;

.borderImage {
  border-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)) 50% / 50%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.authorscroll {
  scrollbar-width: 3px !important;
  scrollbar-color: #1a1a1a #f7f7f7;
}

/* Chrome, Edge, and Safari */
.authorscroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.authorscroll::-webkit-scrollbar-track {
  background: #f7f7f7;
}

.authorscroll::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

input[type="radio"] {
  display: none;
}

.tab-pills > input[type="radio"] + label {
  /* color: black; */
  padding-bottom: 0.5rem;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border-bottom: 2px solid #f4f4f4;
}

.tab-pills > input[type="radio"]:checked + label {
  border-bottom: 2px solid black;
}

.tab-content > section {
  display: none;
}

input#shipping[type="radio"]:checked ~ .tab-content > section:nth-child(1),
input#payment[type="radio"]:checked ~ .tab-content > section:nth-child(2),
input#review[type="radio"]:checked ~ .tab-content > section:nth-child(3) {
  display: block;
}
